<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  
  <param name="robot_description" textfile="$(find Assem2)/urdf/Assem2.urdf" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find Assem2)/urdf/Assem2.urdf -urdf -model Assem2" output="screen" />

  <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="true" output="screen" args="-urdf -model simple_model -param robot_description -y 0"/> -->
  
  <rosparam file="$(find Assem2)/config/control.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/simple_model" required="true" args="joint_1_position_controller joint_2_velocity_controller joint_3_velocity_controller joint_4_velocity_controller joint_state_controller --shutdown-timeout 3"/> 
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <remap from="/joint_states" to="/simple_model/joint_states" />
  </node>
</launch>